@model IEnumerable<LedighetsPortal.Models.Employee>

@{
    ViewData["Title"] = "Lägg till anställd";
}

<h1>Anställda</h1>

<p>
    <a asp-action="Create">Lägg till ny anställd</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeLastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Information</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
